a:focus,button:focus
{
    outline:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}
#menu {
    height: 100px;
    background-color: #fff;
    opacity: 0.9;
}

#ul-menu a {
    color : #3378EF;
}

#ul-menu li:hover, #ul-menu li.active{
  border-bottom: 3px solid #337AB7;
}

#ul-menu li.active > a ,#ul-menu li:hover {
    background-color: #fff;
    font-weight: bold;
}
.splash-image {
    background: rgba(0, 0, 0, 0) url("../img/ms-coaching-splah-image.jpg") no-repeat scroll 0 0 / cover ;
    height: 100%;
    position: fixed;
    width: 100%;
}

.legend {
    font-size: 0.8em;
    font-style: italic;
}

#accueil  {
    margin : 120px;
    margin-top: 100px;
    color : #fff;
    font-size: 1.3em;
}

.section-blue {
    color : #fff;
    padding-bottom: 20px;
    opacity: 1;
    border : 1px solid #fff;
}

.section-white {
    border : 1px solid #3378EF;
    background-color: #fff;
}

.section {
    display: table;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.section-fullpage {
    height: 100vh;
    min-height: 100vh;
}
.section-content {
    display: table-cell;
    padding: 20px;
    vertical-align: middle;
}
section {
    display:block;
    min-height : 90vh;
}

h1, h2, h3, h4 {
    font-family: Tangerine;
}
h2{font-size : 3em;}
h1 {
    font-size: 4em;
    padding-bottom: 10px;
}

.carousel {
    margin-top: 30px;
}

.section-site{
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-accueil{
    padding-top : 15vh;
}

.sap{
    margin-top: 20px;

}

#preparation-physique p, #cours-collectifs p {
    text-align: center;
}